* {
    margin: 0;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}

body {
    background-color: black;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}


#siteLogo {
    float: left;
    position: absolute;
    width: 200px;
    margin: -75px 0vw 0vw 35px;
    z-index: 1;
}

.menu {
    float: left;
    position: absolute;
    margin: -40px 0px 0px 250px;
    list-style: none;
    
}

.menu li {
    float: left;
    width: 135px;
    font-family: 'Sigmar', cursive;
    font-size: 15px;
    text-shadow: 2px 2px #000000;
    
}

.menu li a {
    padding: 5px 10px;
    display: block;
}

.menu li a:hover {
    color: yellow;
    font-weight: bolder;
}

.menu li ul {
    position: absolute;
    top: 30px;
    left: 0;
    display: none;
    
}

#active{
    color: yellow;
}

.menu li:hover ul,
.menu li.over ul {
    display: block;

}

.menu li ul li {
    display: block;
    width: 120px;
}

#blank{
    float: left;
    width: 100%;
    height: 23.5vw;
}


.videoInfo {
    float: left;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    background-color: rgba(0, 0, 0,0);
    width: 100%;
    height: 300px;
    min-height: 250px;
    overflow:hidden;
    margin: 20px 10px 0px 0;

}

.videoInfo h1{
    margin-left: 7%;
}

.videoInfo p {
    width: 60%;
    font-size: 20px;
    padding-left: 7px;
    margin-left: 7%;
}

#pauseButton {
    margin: 1% 10px 0 7%;
    width: 50px;
    height: 50px;
    font-size: 25px;
    padding: 5px 10px 10px 10px;
    border: none;
    border-radius: 50px;
    background: yellow;
    color: black;
    cursor: pointer;
}

#pauseButton:hover {
    background-color: white;
}

#watchNow {
    width: 250px;
    height: 50px;
    font-size: 25px;
    padding: 5px 10px 10px 10px;
    border: none;
    border-radius: 50px;
    background: yellow;
    color: black;
    cursor: pointer;
    margin-left: 0.5%;
    z-index: 4;
}

#watchNow:hover {
    background-color: white;
}

#degrade{
    float: left;
    height: 150px;
    width: 100%;
    min-height: 100%;
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgb(0, 0, 0));
}

#estrutura{
    margin-top: 80px;
    width: 100%;
    background-color: #000000;
    z-index: 10;
}
.sessao-de-itens {
    float: left;
    width: 100%;
    height: 24.5vw;
    background-color: #000000;
    overflow: hidden;
}

.sessao-de-itens h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    padding-left: 2%;
    z-index: 3;
}

.container-de-capas {
    padding: 0 0 30px 2%;
    float: left;
    width: 100%;
    
}

.filme img {
    float: left;
    width:  12vw;
    height: 20vw;
    background-size: cover;

}

.filme a img:hover {
    width: 13%;
    border: 3px solid yellow;
    border-radius: 5px;
}

#bottomLogo {
    float: left;
    width: 550px;
    padding: 10px 20px 20px 2%;
}

.bottomMenu {
    font-family: 'Bebas Neue', cursive;
    display: block;
    float: left;
    font-size: 15px;
    padding-bottom: 2%;

}